@font-face {
  font-family: "SOYOMapleBoldTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  --darkpink: #fc7474;
  --pink: #fd916c;
  --lightpink: #fc9f80;
  --background: #fcfcfc;
  --color: #1e2027;
  --title-color: #facfcf;

  --h2-color: #fc7474;
  --h2-background: #facfcf;
  --accent-link: #e07777;

  font-family: "NanumSquareRound";
}
@media screen {
  .yellow {
    /* --background: #e5e569; */
    --background: #e08282;
    --color: #fffafa;
    --darkpink: #f1ff72;
    --pink: #edf0b8;
    --lightpink: #fc9f80;
    --title-color: #facfcf;

    --h2-color: #fc7474;
    --h2-background: #facfcf;

    --accent-link: rgb(244, 190, 190);
  }
}
body {
  background-color: var(--background);
  /* color: var(--color); */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "SOYOMapleBoldTTF";
  /* color: var(--color); */
}

main {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 50px;
}
header {
  display: flex;
  gap: 30px;
  font-size: 20px;

  height: 300px;
  line-height: 1.2;
}

.main_title {
  text-shadow: 4px 4px var(--title-color);
}

.profile-article {
  display: flex;
  flex-direction: column;
  gap: 1em;

  font-size: 20px;
}

/* 개인 정보  */
.contact_list {
  display: flex;
  flex-direction: column;
  gap: 0.4em;

  margin-top: 2em;
}

.contact_list > li {
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-family: "SOYOMapleBoldTTF";
}

.desc_profile {
  line-height: 1.4;
}

.desc_root_wrapper {
  margin-bottom: 20px;
}
.desc_root_wrapper > h2 {
  font-family: "KCC-Ganpan";
  color: var(--darkpink);
  font-size: 3em;
}
.desc_section_wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;

  margin-bottom: 50px;
}
.desc_section_wrapper section:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

li {
  list-style: none;
  font-size: 1.25rem;
}

.link_wrapper {
  position: relative;
  font-size: 1em;
}
.link_wrapper > a {
  margin-left: 1.3em;
}
a {
  color: var(--accent-link);
}

.link_wrapper::after {
  position: absolute;
  left: 0em;
  height: 0.3em;
  content: "🔗";
  font-size: 1em;
  text-align: center;
  border-radius: 50%;
}
/* 세부내용 */

.desc_section_activity {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.desc_section_activity h4 {
  text-shadow: 2px 2px var(--text-shadow);
  margin: 0;
}
.desc_section_activity > p {
  margin-top: 1em;
  font-size: 1.2em;
}
.desc_section_activity article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.desc_section_activity article > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.desc_section_activity article > ul > li {
  display: flex;
  flex-direction: column;
  gap: 0.6em;

  padding: 0.3em;
}
.desc_section_header {
  display: flex;
  align-items: flex-end;
  gap: 0.3em;
}
.link_icon {
  text-decoration: none;
}

/* 프로젝트 별 상세 */
.des-title {
  font-size: 20px;
  font-family: "SOYOMapleBoldTTF";
}
.des_dot_wrapper {
  position: relative;
}
.des_dot_wrapper p {
  line-height: 1.4;
}
.des_dot_wrapper strong {
  font-family: "SOYOMapleBoldTTF";
}
.des-title::before,
.des_dot_wrapper > p:first-child::before {
  position: absolute;
  left: -0.5em;
  top: 0.7em;
  height: 0.3em;
  width: 0.3em;
  content: " ";
  font-size: 1em;
  text-align: center;
  border-radius: 50%;
  background: var(--darkpink);
}
.des_content {
  line-height: 1.2;
  font-size: 1em;
}

.pink {
  color: var(--darkpink);
}

time,
em {
  font-style: italic;
}

h1 {
  font-size: 3rem;
  margin: 1.2em 0;
}

h2 {
  font-size: 2.2rem;
  margin: 1.4em 0 1em;
}

h3 {
  font-size: 1.8rem;
  margin: 0 0 0.4em;
}

h4 {
  font-size: 1.6rem;
  margin: 0;
}

h5 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 1rem 0 0.2em;
}
p {
  margin: 0;
}
article {
  display: flex;
  flex-direction: column;
}
ul {
  margin: 0;
  padding-left: 1.4em;
}
ul.contact_list {
  padding-left: 0;
}

/* 기술 */
h5 {
  margin: 0;
}
.tech_stack {
  display: flex;
  gap: 0.1em;
}
mark {
  background-color: var(--background);
  padding: 0.4em;

  border-radius: 10em;
  font-size: 15px;
}

.desc_section_activity__detail {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  font-style: italic;

  margin: 4em;
  font-size: 0.4em;
}

@media screen and (max-width: 740px) {
  html {
    font-size: 14px;
  }
  h4 {
    font-size: 1.4rem;
  }
  .profile-article {
    font-size: 18px;
  }

  .desc_section_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .tech_stack {
    flex-wrap: wrap;
    gap: 0.5em;
  }
  h2 + div > div > div:first-of-type {
    position: relative;
    align-self: flex-start;
    top: 0;
  }
  .overlay {
    padding: 0.5rem;
  }
}

.print {
  display: none;
}

.floating {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.floating > button {
  background: transparent;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in-out;
  background: var(--background);
  border-radius: 50%;
  padding: 0;
}

.floating > button:hover {
  transform: rotate(30deg);
}

.floating > button:active {
  transform: rotate(60deg);
}

.floating > button > img {
  position: absolute;
  inset: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  animation-name: toggle-in;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.floating > button > img.hide {
  animation-name: toggle-out;
}

@keyframes toggle-out {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 0;
    transform: rotate(360deg);
  }
}

@keyframes toggle-in {
  from {
    opacity: 0;
    transform: rotate(360deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
