:root {
  --darkpink: #fc7474;
  --pink: #fd916c;
  --lightpink: #fc9f80;
}

p > .magic-text {
  font-family: "SOYOMapleBoldTTF";

  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--darkpink),
    var(--pink),
    var(--lightpink),
    var(--darkpink)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
